.post {
  border: 1px solid black;
  margin-bottom: 10px;
}

input {
  height: 100px;
  width: 100%;
}

.example-container {
  height: 100vh;
  margin: 10px;
  border: 1px solid #555;
  mat-drawer {
    width: 20%;
  }
}
