<!-- <div *ngFor="let post of posts$ | async" class="post">
  <div>
    <h5>{{ post.title }}</h5>
    <p *ngIf="selectedPostId !== post.id">{{ post.body }}</p>
  </div>
  <input
    type="text"
    *ngIf="selectedPostId === post.id"
    [value]="post.body"
    #input
  />

  <div>
    <button
      (click)="enterEdit(post.id)"
      *ngIf="selectedPostId !== post.id"
      [disabled]="selectedPostId"
    >
      edit
    </button>
    <button (click)="edit(post)" *ngIf="selectedPostId === post.id">ok</button>
    <button (click)="cancelEdit()" *ngIf="selectedPostId === post.id">
      cancel
    </button>
    <button (click)="deletePost(post.id)" [disabled]="selectedPostId">
      delete
    </button>
  </div>
</div> -->

<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->
<router-outlet></router-outlet>
